

body {
    overflow: scroll;
}

.container_account_page {
    align-content: center;
    background-color: var(--white);
    border-radius: var(--button-radius);
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
        0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: 300px;
    max-width: var(--max-width);
    position: relative;
    width: 100%;
    margin: auto;
    padding: auto;
    margin-bottom: 10px;
}

.container_account.hidden {
  visibility: hidden;
}

.container_account {
  align-content: center;
  background-color: var(--white);
  border-radius: var(--button-radius);
  box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
  height: max-content;
  max-width: var(--max-width);
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  overflow: scroll;
}


.title {
    text-align: center;
    color: black;
    font-weight: 300;
    margin: 4;
    margin-bottom: 1.25rem;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: 55px;
    border: 5px solid #f95738;
  }

.input-grid {
margin: 0 5;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 1em;
}




.parking_spot {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 15px 5px 15px 15px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 5px 10px -1px rgba(51, 51, 51, 0.23);
  cursor: pointer;
  transition: transform 0.15s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  background-color: #fff;
  margin-top: 2px;
  margin-bottom: 2px;
}
/* .parking_spot:hover {
  transform: scale(0.9);
  box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
} */

    .address_city {
    color: black;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.64px;
    margin-left: 10px;
    }

    .address {
    color: black;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 0.64px;
    margin-left: 10px;
    }
    .leaderboard__value {
    color: #35d8ac;
    font-weight: 700;
    font-size: 34px;
    text-align: right;
    }

.btn-group{
    display: block;
}

    .btn_mini {
    height: 40px;
    width: 100px;
    background-color: var(--blue);
    border-radius: 20px;
    border: 1px solid var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-bottom: 3px;
    margin-top: 3px;
    }

  .btn_mini:hover {
  transform: scale(1.2);
  box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}
