@import url("https://fonts.googleapis.com/css?family=Oswald");
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 200px;
  height: 200px;
  float: left;
}

#menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 6vh;
}

.btn_mini_parking {
  height: 40px;
  width: 100px;
  background-color: var(--blue);
  border-radius: 20px;
  border: 1px solid var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-bottom: 3px;
  margin-top: 3px;
}

.hero_map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  color: black;
  background-size: cover;
}

.hero-title {
  width: 1000px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left top;
  object-position: left top;
}
.title-map {
  text-align: center;
  color: black;
  font-weight: 300;
  margin: 4;
  margin-bottom: 1.25rem;
}

.title-position {
  position: fixed
}
.container_map.hidden {
  visibility: hidden;
}
.container_map {
  align-content: center;
  background-color: var(--white);
  border-radius: var(--button-radius);
  box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
  height: max-content;
  max-width: var(--max-width);
  overflow: visible;
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  overflow: scroll;
}

@media only screen and (min-width: 32em) {
  .hero-title {
    font-size: 16vh;
  }
}
.hero-footer {
  display: flex;
  margin-bottom: 1em;
}
#show-parking {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10000;
  font-size: 11px;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  opacity: 1;
  background-color: var(--blue);
}
.button {
  /* font-family: "PT Sans Caption", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; */
  font-size: 3vh;
  padding: 0.5em 0.67em;
  color: white;
  text-decoration: none;
  border: 0.1em solid white;
}

.button-primary {
  color: black;
  background-color: white;
}

:root {
  --background: #000;
  --text: #fff;
  --highlight: #f95738;
}

body {
  align-items: center;
  height: 100vh;
  overflow: hidden;
  transition: 0.5s background ease;
}

.positioning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
}
.suggestions a {
  margin: 10px 30px;
  position: relative;
  color: var(--text);
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
ul a:before {
  position: absolute;
  bottom: -2px;
  content: "";
  width: 100%;
  height: 3px;
  background: var(--highlight);
  transform: translateX(-100%);
  opacity: 0;
}
ul a:hover:before {
  opacity: 1;
  transition: 0.5s transform ease, 0.8s opacity ease;
  transform: translateX(0);
}
ul .active {
  color: var(--highlight);
}
ul .active:hover:before {
  opacity: 0;
}

/* --------------------------------------------------------------------- */
