* {
  box-sizing: border-box;
}

#form {
  width: 100%;
}
.form {
  width: 100%;
}
.hero_parking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  padding-bottom: 15em;
  box-sizing: border-box;
  color: white;
  background-size: cover;
}
.container {
  max-height: 400px;
  min-height: 400px;
}

.form-input-grid {
  margin: 0 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  width: 100%;
}

.form-text {
  color: black;
  font-weight: 300;
}

select {
  color: grey;
}

.form-input-max {
  width: 100%;
}

.form-input-wrapper {
  width: 100%;
  position: relative;
}

.flexbox-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-input {
  background-color: #fff;
  border: none;
  padding: 0.9rem 0.2rem 0.9rem 0.2rem;
  margin: 0.9rem 0.9rem;
  width: 100%;
  border: 2px solid white;
}

.form-input:hover {
  border: 2px solid grey;
}
.form-input:focus {
  border: 2px solid grey;
}
